.content {
    margin: 1em 0;
}

.user {
    display: flex;
    align-items: flex-start;
    gap: 1em
}

.author {
    font-weight: 700;
    color: black;
}

.header {
    display: flex;
    flex-direction: column;
}

.date {
    color: rgb(75, 75, 75);
    font-size: 0.9em;
}

.comment {
    flex: 1;
    padding-right: 0.5em;
}

@media (min-width: 600px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .comment {
        flex: 1;
        padding-right: 2em;
    }
}